
networks:
    internal_network:
        name: GangNet
        driver: bridge

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"   # Let's not expose this.
    environment:
      - NODE_ENV=development
    networks:
      - internal_network      
    volumes:
      - ./backend:/app
      - /app/node_modules  # Avoid overwriting node_modules with host

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env.docker
    environment:
      - NODE_ENV=development
    networks:
      - internal_network
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules